@page
@model homework.Pages.Tasks.Task5Model
@{
    ViewData["Title"] = "Task5";
}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Coutry</th>
      <th scope="col">Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Azerbaijan</td>
      <td>Land of Fire</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ukraina</td>
      <td>Friend country</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Turciya</td>
      <td>Brother country</td>
    </tr>
  </tbody>
</table>