@page
@model homework.Pages.Tasks.Task4Model
@{
    ViewData["Title"] = "Task4";
}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Adress</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Chinar</td>
      <td>Best shushi in Baku</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Papag lounge</td>
      <td>Best peperoni in the world</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Step Bufet</td>
      <td>Best Livan Shaurma</td>
    </tr>
  </tbody>
</table>